@font-face {
  font-family: 'din';
  font-display: auto;
  src:
    local('din'),
    url(din.woff2) format('woff2');
  font-style: normal;
}
.skin-portal2-light {
  --colourBG: #ddd;
  --colourFG: #000;
  --lineageLineStyle: 2px dotted #52a5c6;
  --lineageFont: 'din';
  --lineageGenColour: #52a5c6;
  --dragonPortraitStyle: 1px solid #2db2e6;
  --builderBG: #dcdedf url(portal2-light-wt.png) repeat fixed;
  --builderControlBG: #000;
  --builderControlFG: #fff;
  --linkColour: #2db2e6;
  --headerBG: #2e2e2d;
  --lineageToolColour: rgba(0, 0, 0, 0.5);
  --breedDropDownColourFG: #000;
  --modalBG: #fff;
  --modalFG: #000;
  --modalHeaderBG: #ddd;
  --modalHeaderFG: #000;
  --modalFooterBtnBG: #000;
  --modalFooterBtnFG: #fff;
}
