/README.md
/TODO.md
/CHANGELOG.md
**/.dockerignore
**/.gitignore
**/.git
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/compose*
**/.vs
**/.vscode
#**/.env*
/src/frontend/tests
/src/frontend/dist
/trash
/src/process-breeds