
**/.git
**/node_modules
**/.vscode
**/__tests__

**/.gitignore
**/docker-compose*.yml
**/Dockerfile*
**/npm-debug.log
**/.prettierrc
**/.prettierignore
**/.eslintignore
**/.eslintrc.cjs
/README.md
/TODO.md
/CHANGELOG.md
