# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# configs
#src/backend/src/config.js
.env.production
.env.development

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
src/frontend/build
src/frontend/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/frontend/coverage/base.css
src/frontend/coverage/block-navigation.js
src/frontend/coverage/clover.xml
src/frontend/coverage/coverage-final.json
src/frontend/coverage/dragonBuilder.ts.html
src/frontend/coverage/favicon.png
src/frontend/coverage/globals.ts.html
src/frontend/coverage/index.html
src/frontend/coverage/lineageHandler.ts.html
src/frontend/coverage/prettify.css
src/frontend/coverage/prettify.js
src/frontend/coverage/settings.ts.html
src/frontend/coverage/sort-arrow-sprite.png
src/frontend/coverage/sorter.js
src/frontend/coverage/utils.ts.html
src/frontend/coverage/validation.ts.html
