# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
src/frontend/build
src/frontend/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/app/coverage

app/backend/static

app/assets/tile-rendering
app/shared/breed-definitions.ts

# Nuxt dev/build outputs
.nuxt
.output
.nuxt/components.d.ts
.nuxt/eslint.config.mjs
.nuxt/imports.d.ts
.nuxt/nuxt.d.ts
.nuxt/nuxt.node.d.ts
.nuxt/tsconfig.app.json
.nuxt/tsconfig.json
.nuxt/tsconfig.node.json
.nuxt/tsconfig.server.json
.nuxt/tsconfig.shared.json
.nuxt/manifest/meta/08b8003d-d98f-4d20-b48d-983c0f9816e3.json
.nuxt/types/build.d.ts
.nuxt/types/components.d.ts
.nuxt/types/imports.d.ts
.nuxt/types/layouts.d.ts
.nuxt/types/middleware.d.ts
.nuxt/types/nitro-imports.d.ts
.nuxt/types/nitro-middleware.d.ts
.nuxt/types/nitro-nuxt.d.ts
.nuxt/types/plugins.d.ts
