/**
layout
**/
:root {
  --desktop: 1024px;
  --mobile: 768px;
}

html {
  overflow: hidden auto;
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.constrain-width {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.content-limit {
  max-width: 100ch;
}

.form {
  & .label {
    font-weight: bold;
    white-space: nowrap;

    &::after {
      content: ':';
    }
  }
}

/**
interactive elements
**/
.interactive {
  border: none;
  padding: 0.5rem;
  background: #fff;
  border-radius: 0.4rem;
}

/**
typography
**/
p + p {
  margin-top: 0.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.125em 0;
  line-height: 1em;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 3rem;
}
strong {
  font-weight: bold;
}

/**
utilities
**/
.list {
  list-style-type: disc;
  padding-left: 1rem;
}
.pointer {
  cursor: pointer;
}

/**
accessibility
**/
:focus-visible {
  outline: 2px solid lightblue;
}

/**
overwrites
**/
.svg-inline--fa {
  margin: 0 0.5rem;
}
