/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

@font-face {
  font-family: 'fq';
  font-display: auto;
  src:
    local('fq'),
    url(fq.woff2) format('woff2');
  font-style: normal;
}

.skin-default {
  /**
  * global variables
  */
  /*old*/
  --colourBG: #ebdbba;
  --colourFG: #44300b;
  --lineageFont: 'fq';
  --dragonPortraitStyle: 1px solid rgba(123, 94, 40, 0.5);
  --builderControlBG: #44300b;
  --builderControlFG: #fff;
  --linkColour: #44300b;
  --headerBG: #000;
  --lineageToolColour: rgba(68, 48, 11, 0.5);
  --breedDropDownColourFG: #44300b;
  --modalBG: #fff;
  --modalFG: #44300b;
  --modalHeaderBG: #44300b;
  --modalHeaderFG: #fff;
  --modalFooterBtnBG: #44300b;
  --modalFooterBtnFG: #fff;

  /*new*/
  --builder-bg: #ebdbba url(default-bg.png) repeat fixed;

  /**
  * basic global styling
  */
  &:focus {
    outline: 2px solid lightblue;
  }

  & a {
    color: #44300b;
  }

  /**
  * structure elements
  */
  #top {
    @media (--small) {
      height: 154px;
    }
    color: #fff;
    background: #000;
  }

  /**
  * Components
  */
  & .lineage-view {
    --lineage-line-colour: rgba(123, 94, 40, 0.5);
    --lineage-line-style: 1px solid var(--lineage-line-colour);
    color: #44300b;

    > .generation-counter {
      /* background: rgba(68, 48, 11, 0.2); */
    }
    & .tile {
      & .tile-control-button {
        color: rgba(68, 48, 11, 0.3);
        > svg {
          padding: 0;
        }
        &:hover {
          color: rgba(68, 48, 11, 0.6);
        }
      }
      & .tile-portrait {
        &.selected {
          background: #89cff0;
          outline: 1px dashed #246bce;
          outline-offset: 2px;
        }
      }
      & .tile-label {
        --outline-width: 1px;

        > .tile-label-input {
          border-radius: 0px;
          outline: var(--outline-width) dashed #44300b;
        }

        > .tile-label-input:invalid,
        &.invalid {
          outline: var(--outline-width) solid red;
        }
      }
    }
  }

  .builder-container {
    --pane-shadow-colour: #000;
    --lineage-font: 'fq';

    background: var(--builder-bg);
    font-family: var(--lineage-font);

    & .left {
      background-color: #ebdbba;
    }

    .builder-toolbar {
      > .settings label {
        &:hover {
          background: #c6ae80;
        }
      }
      > .functions {
        .toolbar-button {
        }
      }
      & .toolbar-group {
        & .legend {
          background: #44300b;
          color: #fff;
        }
        & .buttons {
          & .toolbar-button {
            border-right: 1px dotted #44300b;
            &:last-child {
              border: none;
            }
          }
        }
      }
      & .toolbar-button {
        color: #44300b;
        &:enabled:hover {
          background: #c6ae80;
        }
        &:disabled {
          opacity: 0.3;
        }
        &:focus {
          outline: 2px solid #44300b;
        }
      }
      & .toolbar-button-dropdown {
        &.selected {
          color: var(--builderControlFG);
          background: var(--builderControlBG);
          box-shadow: 0px 0px 2px 2px #000 inset;
        }
      }
      & .toolbar-button-dropdown-menu {
        color: #ebdbba;
        background: #44300b;
        box-shadow: 0px 0px 4px #000;

        > .toolbar-button-dropdown-menu-item {
          border-bottom: 1px solid #ebdbba;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
