.skin-mobile-dark {
  /**
  * global variables
  */
  /*old*/
  --colourBG: rgba(19, 21, 26, 1);
  --colourFG: rgb(169, 184, 203);
  --lineageLineStyle: 1px solid rgba(68, 78, 94, 1);
  --lineageFont: sans-serif;
  --lineageGenColour: rgba(68, 78, 94, 1);
  --dragonPortraitStyle: 1px solid rgba(68, 78, 94, 1);
  --builderBG: rgba(19, 21, 26, 1);
  --builderControlBG: #5f9aff;
  --builderControlFG: #fff;
  --headerBG: #21252d;
  --lineageToolColour: rgba(169, 184, 203, 0.5);
  --breedDropDownColourFG: #13151a;
  --modalBG: #fff;
  --modalFG: rgba(19, 21, 26, 1);
  --modalHeaderBG: rgba(19, 21, 26, 1);
  --modalHeaderFG: rgb(169, 184, 203);
  --modalFooterBtnBG: rgba(19, 21, 26, 1);
  --modalFooterBtnFG: rgb(169, 184, 203);

  /*new*/
  --builder-bg: rgba(19, 21, 26, 1);

  /**
  * basic global styling
  */
  &:focus {
    outline: 2px solid lightblue;
  }

  & a {
    color: #5f9aff;
  }

  /**
  * structure elements
  */
  #top {
    @media (--small) {
      height: 154px;
    }
    color: #fff;
    background: #000;
  }

  /**
  * Components
  */
  & .lineage-view {
    --lineage-line-colour: rgba(68, 78, 94, 1);
    --lineage-line-style: 1px solid var(--lineage-line-colour);
    color: #fff;

    > .generation-counter {
      /* background: rgba(68, 48, 11, 0.2); */
    }
    & .tile {
      & .tile-control-button {
        color: #5f9aff;
        > svg {
          padding: 0;
        }
      }
      .tile-portrait {
        background: rgba(43, 48, 58, 1);
        &.selected {
          background: #89cff0;
          outline: 1px dashed #246bce;
          outline-offset: 2px;
        }
      }
    }
  }

  .builder-container {
    --pane-shadow-colour: #000;
    --lineage-font: 'sans-serif';

    background: var(--builder-bg);
    font-family: var(--lineage-font);

    & .left {
      background-color: hsl(223 15% 17% / 1);
    }

    .builder-toolbar {
      > .settings label {
        &:hover {
          background: #c6ae80;
        }
      }
      > .functions {
        .toolbar-button {
        }
      }
      & .toolbar-group {
        & .legend {
          background: #13151a;
          color: #fff;
        }
        & .buttons {
          & .toolbar-button {
            border-right: 1px dotted #44300b;
            &:last-child {
              border: none;
            }
          }
        }
      }
      & .toolbar-button {
        color: hsl(223 50% 80% / 1);
        &:enabled:hover {
          background: #c6ae80;
        }
        &:disabled {
          opacity: 0.3;
        }
        &:focus {
          outline: 2px solid #44300b;
        }
      }
      & .toolbar-button-dropdown {
        &.selected {
          color: var(--builderControlFG);
          background: var(--builderControlBG);
          box-shadow: 0px 0px 2px 2px #000 inset;
        }
      }
      & .toolbar-button-dropdown-menu {
        color: #ebdbba;
        background: #44300b;
        box-shadow: 0px 0px 4px #000;

        > .toolbar-button-dropdown-menu-item {
          border-bottom: 1px solid #ebdbba;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}
