@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@font-face {
  font-family: 'fq';
  font-display: auto;
  font-display: swap;
  src:
    local('fq'),
    url(./default/fq.woff2) format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'din';
  font-display: auto;
  font-display: swap;
  src:
    local('din'),
    url(./portal2-light/din.woff2) format('woff2');
  font-style: normal;
}

.skin-default {
  --dc-colour-1: #ebdbba;
  --dc-colour-2: #44300b;
  --dc-colour-3: rgba(123, 94, 40, 0.5);
  --dc-colour-4: #fc0;
  --dc-colour-5: #fff;
  --dc-colour-6: #000;
  --dc-colour-7: #7b5e28;
  --dc-colour-8: #991b1e;

  --dc-lineage-line-width: 1px;
  --dc-lineage-line-style: solid;
  --dc-lineage-line-colour: var(--dc-colour-3);
  --dc-lineage-gen-text-colour: var(--dc-colour-3);
  --dc-lineage-font: 400 14px/19.6px 'fq', 'Times New Roman', Times, serif;
  --dc-lineage-colour: var(--dc-colour-2);

  --ui-builder-colour-1: #000;
  --ui-builder-colour-2: rgba(123, 94, 40, 0.5);
  --ui-builder-toolbar-bg: rgb(107 80 31 / 12%);
  --ui-builder-toolbar-selection-group-bg: #44300b;
  --ui-builder-toolbar-selection-group-fg: #fff;
  --ui-builder-toolbar-selection-group-border: 1px dashed #44300b59;
  --ui-builder-toolbar-selection-scrolls: hsl(24deg 100% 7.1% / 40%);
  --ui-builder-toolbar-selection-shadows: #000;
  --ui-builder-toolbar-selection-count-bg: hsl(39 29% 42% / 1);
  --ui-builder-toolbar-selection-count-fg: #fff;
  --ui-builder-toolbar-button-bg: transparent;
  --ui-builder-toolbar-button-fg: #44300b;
  --ui-builder-toolbar-menu-bg: var(--dc-colour-2);
  --ui-builder-toolbar-menu-fg: #fff;
  --ui-builder-tile-action-color: var(--dc-colour-3);
  --ui-builder-tile-action-hover-color: var(--dc-colour-2);
  --ui-builder-tile-selected-outline: 1px solid #93a1b3;
  --ui-builder-tile-selected-bg: #7cb2f8;
  --ui-builder-tile-label-warning: #991b1d;
  --ui-builder-tile-label-invalid: #991b1d3a;

  --ui-header-bg: #000;
  --ui-header-fg: #fff;
  --ui-header-mobile-border: 1px solid #fff;
  --ui-content-fg: #000;
  --ui-footer-bg: var(--dc-background);
  --ui-footer-fg: #000;

  --ui-modal-header: #000;
  --ui-modal-content: #fff;
  --ui-modal-footer: #000;

  --ui-focus-colour: rgb(0 0 0 / 50%);

  --ui-breed-list-border: #7b5e28;

  --ui-tags-groups-bg: #44300b;
  --ui-tags-groups-fg: #fff;
  --ui-tags-filters-bg: #991b1e;
  --ui-tags-filters-fg: #fff;

  --dialog-header-bg: var(--dc-colour-2);
  --dialog-header-fg: #fff;
  --dialog-header-font: 0.875rem 'fq';
  --dialog-header-closebutton-bg: var(--dc-colour-8);
  --dialog-body-bg: var(--dc-background);
  --dialog-body-fg: #000;
  --dialog-footer-button-bg: var(--dc-colour-2);
  --dialog-footer-button-fg: #fff;

  --copy-icon: var(--dc-colour-7);
  --copy-success-fg: var(--dc-colour-1);
  --copy-success-bg: var(--dc-colour-7);
  --copy-fail-fg: #fff;
  --copy-fail-bg: var(--dc-colour-8);

  background: var(--dc-colour-1) url(./default/default-bg.png) repeat;

  font:
    0.875rem / 1.225rem 'PT Serif',
    'Times New Roman',
    'Times',
    serif;

  > #top {
    --ui-focus-colour: #fc0;
    font-family: 'fq', 'Times New Roman', 'Times', serif;
    color: var(--dc-colour-5);

    & a {
      :not(#site-title-link) {
        font-size: 0.938rem;
      }

      &:hover {
        color: var(--dc-colour-4);
      }
    }
  }

  & #site-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  & #mobile-menu {
    font-size: 0.875rem;
    line-height: 0.875rem;

    > a {
      font-size: 1rem;
      line-height: 1.125rem;
      color: #fff;
    }
  }

  & a {
    text-decoration: underline;
    color: var(--dc-colour-2);

    &:hover {
      color: var(--dc-colour-7);
    }
  }

  & #breed-selector-wrapper {
    background: #7b5e28;
  }

  & .builder-container:fullscreen {
    background: url(./default/default-bg.png) repeat;
  }

  @media (min-width: 62em) {
    #mobile-menu-button {
      display: none;
    }
    #desktop-menu {
      display: flex;
    }
    #site-title {
      flex: 0;
      overflow: unset;
      text-overflow: unset;
    }
  }

  @media (min-width: 67em) {
    #desktop-menu a::after {
      content: '\00B7';
      margin-left: 0.5rem;
    }
    #desktop-menu a:last-child::after {
      content: '';
      margin-left: unset;
    }
  }
}

.skin-portal2-light {
  --dc-colour-1: #ddd;
  --dc-colour-2: #000;
  --dc-colour-3: #52a5c6;
  --dc-colour-4: #2db2e6;
  --dc-colour-5: #ff9315;
  --dc-colour-6: #fff;
  --dc-colour-7: #959595;
  --dc-colour-9: #468fac;

  --dc-lineage-line-width: 2px;
  --dc-lineage-line-style: dotted;
  --dc-lineage-line-colour: var(--dc-colour-4);
  --dc-lineage-gen-text-colour: var(--dc-colour-3);
  --dc-lineage-font: 400 14px / normal 'DIN', 'Arial', sans-serif;
  --dc-lineage-colour: var(--dc-colour-2);

  --ui-builder-colour-1: #000;
  --ui-builder-colour-2: #fff;
  --ui-builder-toolbar-bg: var(--ui-header-bg);
  --ui-builder-toolbar-selection-group-bg: rgba(0, 0, 0, 0.25);
  --ui-builder-toolbar-selection-group-fg: #fff;
  --ui-builder-toolbar-selection-scrolls: rgba(0, 0, 0, 0.5);
  --ui-builder-toolbar-selection-count-bg: var(--dc-colour-3);
  --ui-builder-toolbar-selection-count-fg: #fff;
  --ui-builder-toolbar-button-bg: transparent;
  --ui-builder-toolbar-button-fg: var(--dc-colour-1);
  --ui-builder-toolbar-menu-bg: #222;
  --ui-builder-toolbar-menu-fg: #fff;
  --ui-builder-tile-action-color: rgb(94, 94, 94, 0.5);
  --ui-builder-tile-action-hover-color: #000;
  --ui-builder-tile-selected-outline: 1px solid var(--dc-colour-5);
  --ui-builder-tile-selected-bg: #ff921590;
  --ui-builder-tile-label-warning: #991b1d;
  --ui-builder-tile-label-invalid: #991b1d3a;

  --ui-header-bg: #2f2f2f;
  --ui-header-fg: var(--dc-colour-7);
  --ui-header-mobile-border: 1px solid var(--dc-colour-7);
  --ui-content-fg: #000;

  --ui-header-bg: url(./portal2-light/darktile.png) repeat;
  --ui-header-fg: #fff;
  --ui-header-mobile-border: 1px solid var(--dc-colour-7);
  --ui-content-fg: #000;
  --ui-footer-bg: var(--dc-background);
  --ui-footer-fg: #000;

  --ui-modal-header: #000;
  --ui-modal-content: #fff;
  --ui-modal-footer: #000;

  --ui-focus-colour: rgba(255, 102, 0);

  --ui-breed-list-border: #959595;

  --ui-tags-groups-bg: #52a5c6;
  --ui-tags-groups-fg: #fff;
  --ui-tags-filters-bg: #ff9315;
  --ui-tags-filters-fg: #000;

  --semi-black: rgba(0, 0, 0, 0.5);
  --tile-shade: rgba(0, 0, 0, 0.4);
  --shading: 0 3px 5px var(--semi-black), inset 0 0 5px var(--semi-black);

  --dialog-header-bg: var(--ui-header-bg);
  --dialog-header-fg: var(--dc-colour-1);
  --dialog-header-font: 0.875rem 'din';
  --dialog-header-closebutton-bg: var(--dc-colour-4);
  --dialog-body-bg: url(./portal2-light/lighttile.png) repeat;
  --dialog-body-fg: #000;
  --dialog-footer-button-bg: var(--dc-colour-4);
  --dialog-footer-button-fg: #fff;

  --copy-icon: var(--dc-colour-4);
  --copy-success-fg: #fff;
  --copy-success-bg: var(--dc-colour-4);
  --copy-fail-fg: #fff;
  --copy-fail-bg: var(--dc-colour-5);

  background: var(--dc-colour-1) url(./portal2-light/portal2-light-wt.png)
    repeat;

  font:
    0.875rem / normal 'Arial',
    sans-serif;

  & h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'DIN', Arial, Helvetica, sans-serif;
  }

  & h1 {
    text-transform: uppercase;
    font-weight: bold;
  }

  & h2 {
    text-transform: uppercase;
    background-color: #52a5c6;
    border: 1px solid var(--dc-colour-9);
    color: #fff;
    font-size: 2.5rem;
    line-height: 2rem;
    letter-spacing: -0.05rem;
    padding: 0.8rem 0.5rem;
    width: max-content;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
  }

  & h4 {
    font-style: italic;
  }

  & section a {
    color: var(--dc-colour-9);
  }

  & .dialog-header {
    box-shadow: inset 0 0 5px var(--semi-black);
    text-transform: uppercase;
  }

  > #top {
    box-shadow: var(--shading);
    z-index: 999;
    font:
      700 1rem/1rem 'DIN',
      'Arial',
      sans-serif;
    text-transform: uppercase;

    & a:not(#site-title-link) {
      color: var(--dc-colour-7);

      &:nth-child(odd):hover {
        color: var(--dc-colour-4);
        text-shadow: 0 -2px 20px var(--dc-colour-4);
      }
      &:nth-child(even):hover {
        color: var(--dc-colour-5);
        text-shadow: 0 -2px 20px var(--dc-colour-5);
      }
    }
  }

  & #site-title {
    color: var(--dc-colour-6);

    &:hover {
      color: var(--dc-colour-5);
    }
  }

  & #mobile-menu {
    font-size: 0.875rem;
    line-height: 0.875rem;

    > a {
      font-size: 1rem;
      line-height: 1.125rem;
      color: #fff;
    }
  }

  & #desktop-menu a,
  & #mobile-menu a {
    & .link-text {
      position: relative;
    }
    &:hover .link-text::before,
    &:hover .link-text::after {
      position: absolute;
      font-size: 1.5rem;
      color: white;
    }
    &:hover .link-text::before {
      left: -0.2rem;
      content: '[';
    }
    &:hover .link-text::after {
      right: -0.2rem;
      content: ']';
    }
  }

  & #desktop-menu .link-text {
    padding: 0 0.5rem;
  }

  & #mobile-menu .link-text {
    padding: 0 0.5rem;
  }

  & .toolbar {
    margin-bottom: 0.5rem;
    box-shadow: var(--shading);
    color: var(--dc-colour-1);
    border-radius: 0px !important;
    /* "important" is not great i know, but the border-radius rule was set in
       Toolbar.vue and i felt reluctant to go there and edit it, especially since
       that file seems to affect all themes */
    & .selection-tools {
      padding: 0 0.3rem;
      box-shadow:
        0 1px 3px var(--tile-shade) inset,
        0 -1px 3px var(--tile-shade);
    }

    & .selection-scrollable {
      gap: 0 !important;
      /* same here. here, i needed to close the gap to replicate portal light's tiling effect */
    }

    & .selection-nav.left {
      margin-left: -0.3rem;
    }

    & .selection-nav.right {
      margin-right: -0.3rem;
    }

    & .buttons {
      padding: 0.5rem;
    }

    & select {
      margin: 0 0.3rem;
    }

    & .group + .group {
      box-shadow:
        1px 0 3px var(--tile-shade) inset,
        -1px 0 3px var(--tile-shade);
    }

    & .legend {
      margin: 0 0.5rem;
      border-radius: 5px 5px 0 0;
    }
  }

  & #footer a {
    color: var(--dc-colour-4);
  }

  & .tile-button:hover {
    color: #000;
  }

  & .imgbox.selected {
    outline-offset: -1px;
  }

  & .builder-container:fullscreen {
    background: url(./portal2-light/portal2-light-wt.png) repeat;
  }

  @media (min-width: 86.5em) {
    #mobile-menu-button {
      display: none;
    }
    #desktop-menu {
      display: flex;
    }
    #site-title {
      flex: 0;
      overflow: unset;
      text-overflow: unset;
    }
  }
}

.skin-mobile-dark {
  --dc-colour-1: #2b303a;
  --dc-colour-2: #fff;
  --dc-colour-3: #444e5e;
  --dc-colour-4: #2b303a;
  --dc-colour-5: #fff;
  --dc-colour-6: #13151a;
  --dc-colour-7: #93a1b3;
  --dc-colour-8: #a9b8cb;
  --dc-colour-9: #5f9aff;
  --dc-colour-10: #fc0;

  --dc-lineage-line-width: 1px;
  --dc-lineage-line-style: solid;
  --dc-lineage-line-colour: var(--dc-colour-3);
  --dc-lineage-gen-text-colour: var(--dc-colour-7);
  --dc-lineage-font: 500 14px/16.8px Roboto, Helvetica, Arial, sans-serif;
  --dc-lineage-colour: var(--dc-colour-8);
  --dc-lineage-tile-background: var(--dc-colour-4);

  --ui-builder-colour-1: #000;
  --ui-builder-colour-2: var(--dc-colour-5);
  --ui-builder-toolbar-bg: #2b303a;
  --ui-builder-toolbar-selection-group-bg: #24272d;
  --ui-builder-toolbar-selection-group-fg: var(--dc-colour-5);
  --ui-builder-toolbar-selection-group-border: 1px dashed #ffffff1c;
  --ui-builder-toolbar-selection-scrolls: #3f4655;
  --ui-builder-toolbar-selection-shadows: #000;
  --ui-builder-toolbar-selection-count-bg: hsl(218 30% 26% / 1);
  --ui-builder-toolbar-selection-count-fg: #fff;
  --ui-builder-toolbar-button-bg: transparent;
  --ui-builder-toolbar-button-fg: #fff;
  --ui-builder-toolbar-menu-bg: #2b303a;
  --ui-builder-toolbar-menu-fg: #fff;

  --ui-builder-tile-action-color: rgba(128, 171, 244, 0.5);
  --ui-builder-tile-action-hover-color: var(--dc-colour-9);
  --ui-builder-tile-selected-outline: 1px solid #93a1b3;
  --ui-builder-tile-selected-bg: #215291;
  --ui-builder-tile-label-warning: #daa520;
  --ui-builder-tile-label-invalid: #daa5203a;

  --ui-header-bg: var(--dc-colour-1);
  --ui-header-fg: var(--dc-colour-2);
  --ui-header-mobile-border: 1px solid var(--dc-colour-5);
  --ui-content-fg: #fff;
  --ui-footer-bg: #13151a;
  --ui-footer-fg: #fff;

  --ui-modal-header: #000;
  --ui-modal-content: #fff;
  --ui-modal-footer: #000;

  --ui-focus-colour: rgba(193, 198, 255, 0.8);

  --ui-breed-list-border: #93a1b3;

  --ui-tags-groups-bg: #daa5203a;
  --ui-tags-groups-fg: #fff;
  --ui-tags-filters-bg: #5f9aff;
  --ui-tags-filters-fg: #fff;

  --dialog-header-bg: var(--dc-colour-4);
  --dialog-header-fg: #fff;
  --dialog-header-font: 0.875rem Roboto, Helvetica, Arial, sans-serif;
  --dialog-header-closebutton-bg: var(--dc-colour-9);
  --dialog-body-bg: var(--dc-colour-3);
  --dialog-body-fg: #fff;
  --dialog-footer-button-bg: var(--dc-colour-9);
  --dialog-footer-button-fg: #fff;

  --copy-icon: var(--dc-colour-9);
  --copy-success-fg: #fff;
  --copy-success-bg: var(--dc-colour-9);
  --copy-fail-fg: #fff;
  --copy-fail-bg: crimson;

  background: var(--dc-colour-6);

  font:
    0.875rem/1.138rem Roboto,
    Helvetica,
    Arial,
    sans-serif;
  color: var(--dc-colour-5);

  & .dialog-header {
    border-radius: 5px 5px 0 0;
  }

  & .dialog {
    border-radius: 5px;
  }

  & .dialog-footer {
    border-radius: 0 0 5px 5px;
  }

  > #top {
    color: var(--dc-colour-5);
    & a:hover {
      color: var(--dc-colour-10);
    }
  }

  & #site-title-link {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 500;
  }

  & #mobile-menu {
    font-size: 0.875rem;
    line-height: 0.875rem;

    > a {
      font-size: 1rem;
      line-height: 1.125rem;
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }

  & a {
    text-decoration: none;
    color: var(--dc-colour-9);

    &:hover {
      color: var(--dc-colour-10);
    }
  }

  & .builder-container:fullscreen {
    background: var(--dc-colour-6);
  }

  @media (min-width: 54em) {
    #site-title {
      overflow: unset;
      text-overflow: unset;
    }
    #mobile-menu-button {
      display: none;
    }
    #desktop-menu {
      display: flex;
    }
    #site-title {
      flex: 0;
    }
  }
}

.skin-portal2 {
  --dc-colour-1: #000;
  --dc-colour-2: #ddd;
  --dc-colour-3: #24b2e580;
  --dc-colour-4: #2db2e6;
  --dc-colour-5: #ff9315;
  --dc-colour-6: #fff;
  --dc-colour-7: #959595;

  --semi-black: rgba(0, 0, 0, 0.25);

  --dc-lineage-line-width: 1px;
  --dc-lineage-line-style: dotted;
  --dc-lineage-line-colour: rgba(192, 192, 192, 0.5);
  --dc-lineage-gen-text-colour: var(--dc-colour-7);
  --dc-lineage-font: 14px 'DIN', 'Arial', sans-serif;
  --dc-lineage-colour: var(--dc-colour-2);

  --dc-background: transparent;

  --ui-builder-toolbar-bg: var(--semi-black);
  --ui-builder-toolbar-selection-group-bg: var(--semi-black);
  --ui-builder-tile-selected-bg: var(--dc-colour-3);
  --ui-builder-tile-selected-outline: 1px solid var(--dc-colour-4);
  --ui-builder-toolbar-selection-scrolls: rgba(0, 0, 0, 0.5);
  --ui-builder-toolbar-selection-count-bg: var(--dc-colour-3);
  --ui-builder-toolbar-selection-count-fg: #000;
  --ui-builder-toolbar-menu-bg: #000;
  --ui-builder-toolbar-menu-fg: #fff;
  --ui-builder-tile-label-warning: #cf2427;
  --ui-builder-tile-label-invalid: #bf20233a;

  --ui-builder-tile-action-hover-color: #fff;

  --ui-header-bg: #000;
  --ui-footer-bg: #000;
  --ui-footer-fg: #fff;

  --ui-focus-colour: #ff9315;

  --ui-breed-list-border: #959595;

  --ui-tags-groups-bg: #24b2e580;
  --ui-tags-groups-fg: #ddd;
  --ui-tags-filters-bg: #2db2e6;
  --ui-tags-filters-fg: #ddd;

  --dialog-header-bg: #000;
  --dialog-header-fg: #fff;
  --dialog-header-font: 0.875rem 'din';
  --dialog-header-closebutton-bg: var(--dc-colour-4);
  --dialog-body-bg: rgba(0, 0, 0, 0.75);
  --dialog-body-fg: #fff;
  --dialog-footer-button-bg: var(--dc-colour-4);
  --dialog-footer-button-fg: #fff;

  --copy-icon: var(--dc-colour-4);
  --copy-success-fg: #fff;
  --copy-success-bg: var(--dc-colour-4);
  --copy-fail-fg: #fff;
  --copy-fail-bg: var(--dc-colour-5);

  font:
    0.875rem / normal 'Arial',
    sans-serif;

  & h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'DIN', Arial, Helvetica, sans-serif;
  }

  &body {
    /*     background-color: #2f2f2f;
    background-image: url(/assets/layouts/portal2/edenisasquare.png);
    background-repeat: repeat; */
    background: #000;
  }
  & h1 {
    text-transform: uppercase;
    font-weight: bold;
  }

  & h2 {
    text-transform: uppercase;
    background-color: rgba(48, 151, 191, 0.8);
    border: 1px solid rgba(68, 138, 165, 0.8);
    text-shadow: none;
    color: #fff;
    font-size: 2.5rem;
    line-height: 2rem;
    letter-spacing: -0.05rem;
    padding: 0.8rem 0.5rem;
    width: max-content;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
  }

  & h4 {
    font-style: italic;
  }

  & .dialog-header {
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
  }

  & .dialog {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
  }

  & .dialog-footer {
    border-radius: 0 0 5px 5px;
  }

  > #top {
    font:
      700 1rem/1rem 'DIN',
      'Arial',
      sans-serif;
    text-transform: uppercase;
    box-shadow: 0 3px 5px var(--semi-black);
    z-index: 999;

    & a:not(#site-title-link) {
      color: var(--dc-colour-7);

      &:nth-child(odd):hover {
        color: var(--dc-colour-4);
        text-shadow: 0 -2px 20px var(--dc-colour-4);
      }
      &:nth-child(even):hover {
        color: var(--dc-colour-5);
        text-shadow: 0 -2px 20px var(--dc-colour-5);
      }
    }
  }

  & #site-title {
    color: var(--dc-colour-6);

    &:hover {
      color: var(--dc-colour-5);
    }
  }

  & #mobile-menu {
    font-size: 0.875rem;
    line-height: 0.875rem;

    > a {
      font-size: 1rem;
      line-height: 1.125rem;
      color: #fff;
    }
  }

  & #desktop-menu a,
  & #mobile-menu a {
    & .link-text {
      position: relative;
    }
    &:hover .link-text::before,
    &:hover .link-text::after {
      position: absolute;
      font-size: 1.5rem;
      color: white;
    }
    &:hover .link-text::before {
      left: -0.2rem;
      content: '[';
    }
    &:hover .link-text::after {
      right: -0.2rem;
      content: ']';
    }
  }

  & #desktop-menu .link-text {
    padding: 0 0.5rem;
  }

  & #mobile-menu .link-text {
    padding: 0 0.5rem;
  }

  & .builder-container:fullscreen {
    background-color: inherit;
  }

  & .lineage-view {
    background: var(--dc-colour-1) url(/assets/layouts/portal2/portal2.png)
      repeat-x 0px -113px;
  }
  > #content {
    background-color: #303030;
    color: var(--dc-colour-2);
    & a {
      color: var(--dc-colour-6);
      &:hover {
        color: var(--dc-colour-4);
      }
    }
  }
  & #footer-external-links a {
    color: #fff;
  }

  & .content-limit {
    text-shadow: 0 2px 2px var(--semi-black);
  }

  & .focusable-dialog {
    color: var(--dc-colour-1);
  }

  & button.tag-active {
    background-color: var(--dc-colour-3);
  }

  & .toolbar {
    box-shadow: 0 3px 5px var(--semi-black);
    border: 1px solid var(--semi-black);

    & .functions {
      background-color: var(--semi-black);
      padding: 0.3rem;
      border-radius: 10px;
      margin: 0 0.5rem;
    }

    & .selection-scrollable {
      margin: 0 0.5rem;
      margin-bottom: 0.5rem;
    }

    & .selection-scrollable .group {
      background-color: var(--semi-black);
      border-radius: 10px;
      & .buttons {
        padding: 0.3rem;
      }

      & .legend {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  & .tile-button:hover {
    color: #fff;
  }

  & span.selected {
    outline-offset: -1px;
  }

  @media (min-width: 86.5em) {
    #mobile-menu-button {
      display: none;
    }
    #desktop-menu {
      display: flex;
    }
    #site-title {
      flex: 0;
      overflow: unset;
      text-overflow: unset;
    }
  }
}
